img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    padding-top: 1rem;
}

.gallery {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1rem;
}

.gallery a {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
}

.text-block {
    width: 25%;
    padding-left: 1rem;
}

.text-block h1 {
    font-size: 2rem;
    margin: 0;
}